@inject UserManager<ApplicationUser> userManager
@using Microsoft.AspNetCore.Identity
@model List<FavExercise>

@{
}

<body>
    <!-- Tab links -->
    <div class="tab">
        <button style="" onclick="location.href = '@Html.Raw(Url.Action("ExerciseRoutine", "ExerciseManager", new { Date = 1}))'" class="btn btn-success">Monday</button>

        <button style="" onclick="location.href = '@Html.Raw(Url.Action("ExerciseRoutine", "ExerciseManager", new { Date = 2}))'" class="btn btn-success">Tuesday</button>
        <button style="" onclick="location.href = '@Html.Raw(Url.Action("ExerciseRoutine", "ExerciseManager", new { Date = 3}))'" class="btn btn-success">Wednesday</button>

        <button style="" onclick="location.href = '@Html.Raw(Url.Action("ExerciseRoutine", "ExerciseManager", new { Date = 4}))'" class="btn btn-success">Thursday</button>

        <button style="" onclick="location.href = '@Html.Raw(Url.Action("ExerciseRoutine", "ExerciseManager", new { Date = 5}))'" class="btn btn-success">Friday</button>

        <button style="" onclick="location.href = '@Html.Raw(Url.Action("ExerciseRoutine", "ExerciseManager", new { Date = 6}))'" class="btn btn-success">Saturday</button>
        <button style="" onclick="location.href = '@Html.Raw(Url.Action("ExerciseRoutine", "ExerciseManager", new { Date = 7}))'" class="btn btn-success">Sunday</button>

    </div>

    <!-- Tab content -->
    <div id="Track" class="tabcontent">
        <table id="usersTable" style="" class="table">
            <thead>
                <tr id="head" class="head">
                    <th scope="col">Exercise Name</th>
                    <th scope="col">Exercise Type</th>  
                    <th scope="col">Remove Exercise</th>
                </tr>
            </thead>

            @foreach (FavExercise item in Model)
            {
                if (item != null)
                {
                 
        <tr>
            <td id="ExerciseName">@item.ExerciseName</td>
            <td id="Group">@item.TypeOfExercise</td>
            <td id=""><button style="" onclick="location.href = '@Html.Raw(Url.Action("removeFromRoutine", "ExerciseManager", new { Day = item.Date, ExerciseName = item.ExerciseName, typeOfExercise = item.TypeOfExercise}))'" class="btn btn-success">Monday</button></td>
        </tr>
                }
            }
        </table>
    </div>
</body>
<script>
   
</script>