@inject UserManager<ApplicationUser> userManager
@using Microsoft.AspNetCore.Identity
@model Exercise
@{
    ViewData["Title"] = "Todays Exercise";

    int counter = 0;

    string visibility = "visibility:hidden;";
    if((!String.IsNullOrEmpty(Model.ExerciseName)))
    {
        visibility = "visibility:visible;";
    }

    //Sorting Through

    bool isEmpty = false;
    if (Model != null)
    {
        isEmpty = true;
    }
}

<body>
 
    <div class="tab">
        <button style="@visibility" onclick="location.href = '@Html.Raw(Url.Action("HomeExercise", "ExerciseManager", new {forwardorback = "backward", ExerciseName = Model.ExerciseName}))'" class="btn btn-success">Forward</button>
        <button style="@visibility" onclick="location.href = '@Html.Raw(Url.Action("HomeExercise", "ExerciseManager", new {forwardorback = "backward", ExerciseName = Model.ExerciseName}))'" class="btn btn-success">Backward</button>
    </div>

    <table id="usersTable" style="" class="table">
        <thead>
            <tr id="head" class="head">
                <th scope="col">Exercise Name</th>
                <th scope="col">Set</th>
                <th scope="col">Muscle Group</th>
                <th scope="col">Reps</th>
                <th scope="col">Weight</th>
                <th scope="col">Personal Best</th>
            </tr>
        </thead>

        @foreach (ExerciseTracker item in Model.dayList)
        {
            if (item != null)
            {
                {
                    counter = counter + 1;
                }
                <tr>
                    <td id="ExerciseName">@item.ExerciseName</td>
                    <td id="Set">@counter</td>
                    <td id="Group">@item.TypeOfExercise</td>
                    <td id="Reps">@item.Reps</td>
                    <td id="Weight">@item.Weight</td>
                    @if (item.PersonalBest == true)
                    {
                        <td id="Weight">true</td>
                    }
                    else
                    {
                        <td id="Weight">false</td>
                    }
                </tr>
            }
        }
    </table>
</body>