@inject UserManager<ApplicationUser> userManager
@using Microsoft.AspNetCore.Identity
@model Exercise
@{
    ViewData["Title"] = "Todays Exercise";

    int counter = 0;

    string visibility = "visibility:hidden;";
    if((String.IsNullOrEmpty(Model.ExerciseName)))
    {
        visibility = "visibility:visible;";
    }

    //Sorting Through

    string websiteDate = Model.trackedDate.ToString();
    bool isEmpty = false;
    if (Model != null)
    {
        isEmpty = true;
    }
}

<body>
 
    <div class="tab">
        <button style="" onclick="location.href = '@Html.Raw(Url.Action("HomeExercise", "ExerciseManager", new { ExerciseName = Model.ExerciseName, date = Model.trackedDate.AddDays(-1).ToString()}))'" class="btn btn-success">Backward</button>
        <button style="" onclick="location.href = '@Html.Raw(Url.Action("HomeExercise", "ExerciseManager", new { ExerciseName = Model.ExerciseName, date = Model.trackedDate.AddDays(1).ToString()}))'" class="btn btn-success">Forward</button>
    </div>

        @foreach (var group in Model.dayList.GroupBy(x => x.ExerciseName))
        {
            <table id="usersTable" style="" class="table">
                <thead>
                    <tr id="head" class="head">
                        <th scope="col">Exercise Name</th>
                        <th scope="col">Muscle Group</th>
                        <th scope="col">Reps</th>
                        <th scope="col">Weight</th>
                        <th scope="col">Personal Best</th>
                        <th scope="col">Date</th>
                    </tr>
                </thead>
                @foreach (ExerciseTracker item in group)
                {

            <tr>
                <td style="width:200px;" id="ExerciseName">@item.ExerciseName</td>
                <td id="Group">@item.TypeOfExercise</td>
                <td id="Reps">@item.Reps</td>
                <td id="Weight">@item.Weight</td>
                @if (item.PersonalBest == true)
                {
                    <td id="Weight">true</td>
                }
                else
                {
                    <td id="Weight">false</td>
                }
                <td id="Date">@item.Date</td>
            </tr>

                }

            </table>         
        }
     
</body>